<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="este reto es el tercero">
    <meta name="robots" content="index-follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Reto 3</title>
</head>
<body>
    <header class="page-header">
        <nav>
            <figure class="img-header">
                <img id="imagen" src="imagen1.jpg" alt="">
                <p>Canchas Sinteticas Facagol</p>
            </figure>
            <ul id="main-nav" class="nav">
                <li><a href="">Usuario</a></li>
            </ul>
        </nav>
    </header>
    <sidebar class="page-sidebar">
        <div>
            <ul id="main-div" class="uno">
                <li><a href="" >canchas</a></li>
            </ul>
            <ul id="main-div" class="dos">
                <li><a href="">valor</a></li>
            </ul>
            <ul id="main-div" class="tres">
                <li><a href="">Ubicacion</a></li>
            </ul>
            <ul id="main-div" class="cuatro">
                <li><a href="" id="uno">Horarios</a></li>
            </ul>
        </div>
    </sidebar>
    <main>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa facilis iusto quaerat dignissimos alias eaque sequi. Laudantium error iure quibusdam reprehenderit exercitationem, nobis debitis quas nostrum facilis cum doloribus dolores?</main>
    <footer>este es el fin de la pagina</footer>    
</body>
</html>