*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html
{
    font-size: 62.5%;
}
body
{
    font-size: 1.6rem;
}
.container
{
    border: 0.3rem solid black;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    /* flex-direction: row-reverse; */   
    /* justify-content: space-evenly; */
    /* height: 50vh; */
}
.box
{
    height: 10rem;
    flex-basis: 10rem;
    flex-grow: 11;
}
.box1
{
    background-color: blue;
    /* flex-grow: 1; */
}
.box2
{
    background-color: blueviolet;
    /* flex-grow: 1 ; */
}
.box3
{
    background-color: burlywood;
}
.box4
{
    background-color: cadetblue;
}
.box5
{
    background-color: coral;
}
.box6
{
    background-color: salmon;
}