*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html
{
font-family: "Rubik Scribble", system-ui;
color: white;
}
main
{
    width: 100vw;
    height: 100vh;
    background-color: black;
}