*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html
{
    font-size: 62.5%;
}
.container
{
    display: flex;
    flex-wrap: wrap;
}
.C1, .C2, .C3, .C4, .C5 
{
    width: 100%;
    min-width: 15rem;
    height: 15rem;
}
.C1
{
    background-color: #003476;
}
.C2
{
    background-color: #0062d2;
}
.C3
{
    background-color: #b4d2f7;
}
.C4
{
    background-color: #d5dfef;
}
.C5
{
    background-color: #def1e5;
}     

@media (min-width: 600px)
{
    .C1
    {
        width: 25%;
        order: 1;
    }    
    .C2
    {
        width: 75%;
        order: 2;
    }
    .C3
    {
        width: 100%;
        order: 3;
    }
    .C4
    {
        width: 100%;
        order: 4;
    }
    .C5
    {
        width: 100%;
        order: 5;
    }
}

@media (min-width: 800px)
{
    .C1
    {
        width: 30%;
        order: 1;
    }    
    .C2
    {
        width: 40%;
        order: 2;
    }
    .C3
    {
        width: 30%;
        order: 3;
    }
    .C4
    {
        width: 50%;
        order: 4;
    }
    .C5
    {
        width: 50%;
        order: 5;
    }
}